*,*::after,*::before {
  box-sizing: border-box;
  
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /*
  font-weight: 400;
  */
  --color:rgb(238, 238, 238);
  --background: #242424;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  /**
   * calculate font-size based on the viewport width
   * 
   */
  font-size: calc(1rem + 0.35vw);

}

code[class*=language-], code {
  font-family: 'Fira Code', monospace;
  background: var(--color) !important;
  box-shadow: var(--color) !important;
  color: var(--background) !important;
  font-size: 1.1rem !important;
}

pre[class*=language-] {
  background: var(--color) !important;
  border-radius: .5rem;
}

a {
  font-weight: 500;
  color: #f0821c;
  text-decoration: inherit;
}
a:hover {
  color: #d67112;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #f0821c;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
  
}

ul, li>a{
  text-transform: capitalize;
}

p{
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1em;
  max-width: 986px;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --background: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
