*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /*
  font-weight: 400;
  */
  --color: #dfdfdf;
  --color-light: #242424;

  --background: #242424;
  --background-light: #f0fffb;

  --code-box: #213547;
  --code-box-light: #213547;
  /* #f0821c */
  --accent: #a8288d;
  --accent-hover: #a8288d;

  --accent-light: #a70584;
  --accent-light-hover: #a70584;

  --accent2: #1ebd88;
  --accent2-hover: #1ebd88;

  --accent2-light: #10ad79;
  --accent2-light-hover: #10ad79;


  --content-width: 768px;
  --side:1rem;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color);
  background-color: var(--background);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  /**
   * calculate font-size based on the viewport width
   * 
   */
}

code[class*="language-"],
code {
  font-family: "Fira Code", monospace;
  background: var(--code-box) !important;
  box-shadow: var(--code-box) !important;
  font-size: 0.9rem !important;
  position: relative;
}

pre[class*="language-"] {
  padding-top: 3.5em !important;
  background: var(--code-box) !important;
  border-radius: 0.5rem;
  border-bottom: 0.5rem solid var(--accent2);
  position: relative !important;
}

.copy-button-wrapper{
  position: relative;
  width: 100%;
  height: 0px;
}
.copy-button {
  position: absolute;
  bottom:-3.8rem;
  z-index: 100;
  right:0;
  margin: .5rem;
}

.language-description{
  position: absolute;
  bottom: -3rem;
  z-index: 100;
  background: var(--background);
  padding: 0.2rem .8rem;
  display: flex;
  left: .6rem;
  line-height: 1.5rem;
  border-radius: .3rem;
  color:var(--accent2);
  font-weight: bold;
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--accent);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
li > a {
  text-transform: capitalize;
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
}

#app {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: var(--side);
  max-width: var(--content-width);
}
img {
  width: 100%;
  border-radius: 0.5rem;
  margin: 1rem 0;
  height: auto;
  object-fit: cover;
}
button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.5em 1.1em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-hover);
  color: var(--accent-hover);
  transition: all 0.25s ease 0s ;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    --color: var(--color-light);
    --background: var(--background-light);
    --code-box: var(--code-box-light);

    --accent: var(--accent-light);
    --accent-hover: var(--accent-light-hover);

    --accent2: var(--accent2-light);
    --accent2-hover: var(--accent2-light-hover);
  
  }
  
  button {
    background-color: var(--background-light);
  }
  code[class*="language-"],
  code {
    font-family: "Fira Code", monospace;
    background: var(--code-box-light) !important;
    box-shadow: var(--code-box-light) !important;
    font-size: 0.9rem !important;
  }

  pre[class*="language-"] {
    background: var(--code-box-light) !important;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--accent2-light);
  }
}
